{% extends 'base.html' %}
{% block title %}
  Обратная связь
{% endblock %}
{% block content %}
  {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        {{ message }}
      </div>
    </div>
  {% endfor %}
  <h1 class="text-center" style="margin-bottom: 50px;">Форма обратной связи</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text|safe }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Отправить отзыв</button>
  </form>
{% endblock %}
