{% extends 'base.html' %}
{% block title %}
  Не авторизован
{% endblock %}
{% block content %}
  <h1>Не авторизован</h1>
  <p>Благодарим вас за время, проведенное на этом сайте.</p>
  <a href="{% url 'users:login' %}">Войти снова</a>
{% endblock %}
