{% extends 'base.html' %}
{% block title %}
  Восстановление пароля завершено
{% endblock %}
{% block content %}
  <h1>Восстановление пароля завершено</h1>
  <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
  <a href="{% url 'users:login' %}">Войти снова</a>
{% endblock %}
