{% extends 'base.html' %}
{% block title %}
  Введите новый пароль
{% endblock %}
{% block content %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        {{ error|escape }}
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      {{ error|escape }}
    {% endfor %}
  {% endif %}
  <h1>Введите новый пароль</h1>
  <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
  {% include 'includes/form.html' %}
{% endblock %}