{% extends 'base.html' %}
{% block title %}
  Восстановление пароля
{% endblock %}
{% block content %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        {{ error|escape }}
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      {{ error|escape }}
    {% endfor %}
  {% endif %}
  <h1>Восстановление пароля</h1>
  <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
  {% include 'includes/form.html' %}
{% endblock %}