{% extends 'base.html' %}
{% block title %}
  Мой профиль
{% endblock %}
{% block content %}
  {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
    </div>
  {% endfor %}
  <h1 class="text-center" style="margin-bottom: 50px;">Мой профиль</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in user_form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text|safe }}</div>
        {% endif %}
      </div>
    {% endfor %}
    {% for field in profile_form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text|safe }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <form action="{% url 'homepage:coffee' %}">
      <button type="submit" class="btn btn-primary">выпить кофе</button>
    </form>
  </form>
{% endblock %}
