{% extends 'base.html' %}
{% block title %}
  Регистрация
{% endblock %}
{% block content %}
  {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
    </div>
  {% endfor %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        {{ error|escape }}
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      {{ error|escape }}
    {% endfor %}
  {% endif %}
  <h1 class="text-center" style="margin-bottom: 50px;">Регистрация</h1>
  {% include 'includes/form.html' %}
{% endblock %}
