{% extends 'base.html' %}
{% block title %}
  {{ user.first_name }}
{% endblock %}
{% block content %}
  {% if user.image %}
    <img src="{{ user.get_image_300x300.url }}">
  {% endif %}
  <h1 class="text-center">Имя: {% if user.first_name %}{{ user.first_name }}{% else %}неуказано{% endif %}</h1>
  <h1 class="text-center">Фамилия: {% if user.last_name %}{{ user.last_name }}{% else %}неуказано{% endif %}</h1>
  <h2 class="text-center">Почта: {{ user.email }}</h2>
  <h3 class="text-center">День рождения: {{ user.profile.birthday }}</h3>
  <h3 class="text-center">Сколько раз человек попытался выпить кофе: {{ user.profile.coffee_count }}</h3>
{% endblock %}