{% extends 'base.html' %} {% block title %}
  Список пользователей
{% endblock %} {% block content %}
  <h1 class="text-center" style="margin-bottom: 50px">Список пользователей</h1>
  <div class="container text-center">
    {% for user in users %}
      <h3><a href="{% url 'users:user_detail' user.id %}">{{ user.username }}</a></h3>
      {% empty %}
      <p>Список пуст. Эй, админ добавь инфы!</p>
    {% endfor %}
  </div>
{% endblock %}
