{% extends 'base.html' %}
{% block title %}
  Статистика по товарам
{% endblock %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Cтатистика по товарам</h1>
  </div>
  {% for item, values in object_list.items %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Последняя максимальная оценка</th>
        <th scope="col">Последняя минимальная оценка</th>
        <th scope="col">Количество оценок</th>
        <th scope="col">Средняя оценка товара</th>
      </tr>
    </thead>
    <tbody>
          <tr>
          <th><a href="{% url "catalog:item_detail" item.id %}">{{ item.name }}</a></th>
          <td>{{ values.max.rating }} — <a href="{% url "users:user_detail" pk=user.id %}">автор</a></td>
          <td>{{ values.min.rating }} — <a href="{% url "users:user_detail" pk=user.id %}">автор</a></td>
          <td>{{ values.amount }}</td>
          <td>{{ values.average|floatformat:2 }}</td>
          </tr>
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock %}