{% extends 'base.html' %}
{% block title %}
  Статистика по пользователям
{% endblock %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Статистика по пользователям</h1>
  </div>
{% for user, values in object_list.items %}
{% if values.amount != 0 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Лучший товар</th>
        <th scope="col">Худший товар</th>
        <th scope="col">Кол-во оценок</th>
        <th scope="col">Средняя оценка пользователя</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><a href="{% url "users:user_detail" pk=user.id %}">{{ user }}</a></th>
        <td><a href="{% url "catalog:item_detail" values.max.item %}">Товар</a> — оценка: {{ values.max.rating }}</td>
        <td><a href="{% url "catalog:item_detail" values.min.item %}">Товар</a> — оценка: {{ values.min.rating }}</td>
        <td>{{ values.amount }}</td>
        <td>{{ values.average|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
{% else %}
  <h2>Нет данных</h2>
{% endif %}
{% endfor %}
</div>
{% endblock %}