{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/fav-icons/favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/fav-icons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/fav-icons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/fav-icons/favicon-16x16.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/jquery-3.7.0.slim.min.js' %}"></script>
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    {% include 'includes/header.html' %}
    {% include 'includes/birthdays.html' %}
    <main>
      <div class="bg-body-secondary" style="padding: 50px;">
        {% block content %}
          Контент не подвезли
        {% endblock %}
      </div>
    </main>
    {% include 'includes/footer.html' %}
  </body>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>
