{% load static %}
<div>
  {% for user in birthday_users %}
    <div id="{{user.pk}}">
      <p>
        Сегодня празднует {{ user.username }} с почтой {{ user.email|default:"<i>неуказано</i>" }}
      </p>
    </div>
    <script>
      var birthday = new Date(Date.parse('{{ user.profile.birthday|date:"Y-m-d" }}'));
      var now = new Date(Date.now());
      if (!(birthday.getMonth() === now.getMonth() && birthday.getDate() === now.getDate())){
        $("#{{user.pk}}").css("display", "none");
      };
    </script>
  {% endfor %}
</div>