<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="mb-3">
      <label for="{{ field.id_for_label }}" class="form-label">
        {{ field.label_tag }}
        {% if field.field.required %}
          <span>*</span>
        {% endif %}
      </label>
      {{ field }}
      {% if field.help_text %}
        <div id="{{ field.id_for_label }}-help" class="form-text">{{ field.help_text|safe }}</div>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
