{% load static %}
<header>
  <div class="container text-center" style="padding: 10px;">
    <div class="row">
      <a class="navbar-brand" href="{% url 'homepage:home' %}"><img src="{% static 'img/logo.png' %}" class="rounded d-block col-2" /></a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-underline justify-content-center col fs-4">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'homepage:home' %}active{% endif %}" href="{% url 'homepage:home' %}">На главную</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:about' %}active{% endif %}" href="{% url 'about:about' %}">О проекте</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'catalog:item_list' %}active{% endif %}" href="{% url 'catalog:item_list' %}">Список товаров</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'feedback:feedback' %}active{% endif %}" href="{% url 'feedback:feedback' %}">Оставить отзыв</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:signup' %}active{% endif %}" href="{% url 'users:signup' %}">Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:profile' %}active{% endif %}" href="{% url 'users:profile' %}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:logout' %}active{% endif %}" href="{% url 'users:logout' %}">Выход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'statistics:by_users' %}active{% endif %}" href="{% url 'statistics:by_users' %}">Статистика по пользователям</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'statistics:by_items' %}active{% endif %}" href="{% url 'statistics:by_items' %}">Статистика по товарам</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'statistics:by_one_user' %}active{% endif %}" href="{% url 'statistics:by_one_user' %}">Ваша статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:user_list' %}active{% endif %}" href="{% url 'users:user_list' %}">Все пользователи</a>
          </li>
          {% if request.user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link text-secondary" href="{% url 'admin:index' %}">Админ</a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </div>
</header>
