<div class="rounded bg-light" style="padding-bottom: 30px">
  <h3 class="text-center"><a href="{% url 'catalog:item_detail' item.id %}">{{ item.name }}</a></h3>
  <h4 class="text-center">{{ item.category.name }}</h4>
  <p class="text-center">{{ item.text|safe|truncatewords_html:10 }}</p>
  <div class="container text-center">
    <div class="row row-cols-2">
      {% for tag in item.tags.all %}
        <div class="col rounded bg-secondary text-white" style="margin-bottom: 10px">
          <span>{{ tag.name }}</span>
        </div>
        {% empty %}
        <p>Список пуст. Эй, админ добавь инфы!</p>
      {% endfor %}
    </div>
  </div>
</div>
