{% extends 'base.html' %}
{% block title %}
  {{ item.name }}
{% endblock %}
{% block content %}
  {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
    </div>
  {% endfor %}
  <h1 class="text-center">{{ item.name }}</h1>
  {% if item.main_image.image %}
    <div class="text-center">
      <img src="{{ item.main_image.get_image_300x300.url }}" />
      <a href="{% url 'download:file' item.main_image.image %}" class="btn btn-lg btn-primary">Скачать изображение</a>
    </div>
  {% endif %}
  <h5 class="text-center">{{ item.text|safe }}</h5>
  <h3 class="text-center">{{ item.category.name }}</h3>
  <div class="container text-center">
    {% for tag in item.tags.all %}
      <div class="rounded bg-secondary text-white" style="margin-bottom: 10px;">
        <span>{{ tag.name }}</span>
      </div>
      {% empty %}
      <p>Список пуст. Эй, админ добавь инфы!</p>
    {% endfor %}
  </div>
  <div class="text-center">
    {% for image in item.images.all %}
      <div style="margin-bottom: 15px;">
        <img src="{{ image.get_image_300x300.url }}" />
      </div>
      <p>
        <a href="{% url 'download:file' image.image %}" class="btn btn-lg btn-primary">Скачать изображение</a>
      </p>
      {% empty %}
      <p>Список пуст. Эй, админ добавь инфы!</p>
    {% endfor %}
  </div>
  {% if request.user.is_authenticated %}
    <div class="text-center">
      <form method="post">
        {% csrf_token %}
        {% for field in rating_form %}
          <div class="mb-3">
            <label class="form-label">{{ field.label_tag }}</label>
            {{ field }}
            {% if field.help_text %}
              <div class="form-text">{{ field.help_text|safe }}</div>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Отправить оценку</button>
      </form>
    </div>
  {% endif %}
  {% if ratings %}
    <h3 class="text-center">Оценки</h3>
    <h4 class="text-center">Количество оценок: {{ ratings_count }}</h4>
    <h4 class="text-center">Средняя оценка: {{ average_rating }}</h4>
    {% for rating in ratings %}
      <div class="text-center">
        <a href="{% url 'users:user_detail' rating.user.id %}">{{ rating.user.username }}</a>
        <a> — {{ rating.rating }}</a>
      </div>
      {% empty %}
      <p>Список пуст. Эй, админ добавь инфы!</p>
    {% endfor %}
  {% endif %}
{% endblock %}
