{% extends 'base.html' %} {% block title %}
  Список товаров
{% endblock %} {% block content %}
  <h1 class="text-center" style="margin-bottom: 50px">Список товаров</h1>
  <div class="container text-center">
    {% for item in items %}
      {% ifchanged item.category.name %}
      <h2>{{ item.category.name }}</h2>
      {% endifchanged %}
      <div class="rounded bg-light" style="margin-bottom: 30px">
        <h3 class="text-center"><a href="{% url 'catalog:item_detail' item.id %}">{{ item.name }}</a></h3>
        <p class="text-center">{{ item.text|safe|truncatewords_html:10 }}</p>
        <div class="container text-center">
          <div class="row row-cols-2">
            {% for tag in item.tags.all %}
              <div class="col rounded bg-secondary text-white" style="margin-bottom: 10px">
                <span>{{ tag.name }}</span>
              </div>
              {% empty %}
              <p>Список пуст. Эй, админ добавь инфы!</p>
            {% endfor %}
          </div>
        </div>
      </div>
      {% empty %}
      <p>Список пуст. Эй, админ добавь инфы!</p>
    {% endfor %}
  </div>
{% endblock %}
