{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <h1 class="text-center" style="margin-bottom: 50px;">{{ title }}</h1>
  <div class="container text-center">
    <div class="row row-cols-3">
      {% for item in items %}
        <div class="col" style="margin-bottom: 10px;">
          {% include 'includes/item_card.html' %}
        </div>
        {% empty %}
        <p>Список пуст. Эй, админ добавь инфы!</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
