{% extends 'base.html' %}
{% block content %}
  <form action="{% url 'homepage:echo_submit' %}" method="post">
    {% csrf_token %}
    <ul>{{ form.as_ul }}</ul>
    <input type="submit" value="Отправить" />
  </form>
{% endblock %}
